body {
  background-color: #ffffff;
  color: #3b4153;
}

img {
  display: block;
  max-width: 100%;
}

.u-container {
  max-width: 940px;
  box-sizing: border-box;
  margin: 0 auto;
}

.c-product-list {
  margin: 0 -10px;
  max-width: 940px;
}

.c-product-item {
  font-family: "Poppins", sans-serif;
  max-width: 300px;
  box-sizing: border-box;
  margin-bottom: 2rem;
  position: relative;
  border: 1px solid #dfe0ec;
  width: 300px;
}

.c-product-item__header {
  position: relative;
}

.c-product-item__label {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #fff;
  background-color: #179fff;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0.75rem;
}

.c-product-item__label--bestseller {
  background-color: #f4452d;
}

.c-product-item__copy {
  padding: 0 20px;
  margin-bottom: 2rem;
}

.c-product-item__price {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.c-product-item__link {
  display: block;
  text-align: center;
  color: inherit;
  background-color: #fff;
  border: 6px solid #00fc35;
  transition-timing-function: ease;
  line-height: 2.75rem;
  transition-property: border-color, background-color, color;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  text-decoration: none;
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: #00fc35;
  }
}

// Mobile (320px > screen < 480px): one product card per row
// Tablet (480px > screen < 768px): two product cards per row
// Desktop (768 px > screen < inf): three product cards per row

@media only screen and (min-width: 480px) {
  .c-product-list {
    margin: 0 -10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: wrap;
    flex: 1;
  }
  .c-product-item {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin: 0 30px 2rem;
    width: 45%;
  }
  .c-product-item__copy {
    display: flex;
    flex-direction: column;
    padding: 0 20px 1rem;
    padding-bottom: 1rem;
    flex: 1 2 auto;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .c-product-item {
    margin: 0 10px 2rem;
    width: 31%;
  }
}
